
<div *ngIf="hero">


  <div class="">

    <img src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}">

    <div class="">
      <div class="mb-8 ">
        <div class="text-red-900 font-bold mb-2">
          <h2 class=""> {{hero.name | uppercase}} :</h2>
        </div>
          <div>
            {{hero.id}}
            <p class="text-red-700 text-base"> {{hero.description}}</p>

          </div>
      </div>
      <button type="button" (click)="goBack()">ATRÁS</button>

    </div>

  <div>




</div>
