<div class="flex justify-center bg-red-300">
  <div class="w-full max-w-lg">
    <h2 class="text-center font-bold mb-4">Todos Los Heroes del mundo</h2>

    <div class="bg-red-300 rounded-lg shadow-md">
      <ul class="divide-y divide-blue-500">
        <li *ngFor="let hero of heroes">
          <a routerLink="/detalle/{{hero.id}}" class="block hover:bg-blue-300 py-3 px-4">
            <div class="flex items-center">
              <span class="font-bold mr-2">{{hero.id}}</span>
              <div class="">{{hero.name}}</div>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="flex justify-center mt-4">
      <button [disabled]="offset === 0" class="px-4 py-2 mr-2 text-sm font-medium text-white bg-blue-700 rounded-lg shadow-md hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900"
        (click)="primeraPag()">
        &lt;&lt;&lt;
      </button>
      <button [disabled]="offset === 0" class="px-4 py-2 mr-2 text-sm font-medium text-white bg-blue-700 rounded-lg shadow-md hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900"
        (click)="prevPagina()">
        Anterior
      </button>
      <button [disabled]="offset >= total - 2" class="px-4 py-2 mr-2 text-sm font-medium text-white bg-blue-700 rounded-lg shadow-md hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900"
        (click)="siguientePagina()">
        Siguiente
      </button>
      <button [disabled]="offset >= total - 20" class="px-4 py-2 text-sm font-medium text-white bg-blue-700 rounded-lg shadow-md hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900"
        (click)="ultimaPag()">
        >>>
      </button>
    </div>
  </div>
</div>
